/*
==================================================
Site Name
==================================================
Internet Explorer Styles
--------------------------------------------------
file:     ie6.css
version:  1.0
date:     2 March 2011
author:   Author Name
agency:   Organization
url:      http://example.com
--------------------------------------------------
*/
